body{
    width: 100%;
    height: calc(100%);
    /*background: #007bff;*/
}
main#main{
    width:100%;
    height: calc(100%);
    background:white;
}
#login-right{
    position: absolute;
    right:0;
    width:40%;
    height: calc(100%);
    background:white;
    display: flex;
    align-items: center;
}
#login-left{
    position: absolute;
    left:0;
    width:60%;
    height: calc(100%);
    background:#00000061;
    display: flex;
    align-items: center;
}
#login-right .card{
    margin: auto
}
.logo {
    margin: auto;
    font-size: 8rem;
    background: white;
    padding: .5em 0.8em;
    border-radius: 50% 50%;
    color: #000000b3;
}
#login-left {
  background: url(../assets/img/<?php echo $_SESSION['setting_cover_img'] ?>);
  background-repeat: no-repeat;
  background-size: cover;
}